// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-background-color: #000;
  --ion-text-color: #fff;

  --ion-color-primary: #252525;
  --ion-color-primary-rgb: 37, 37, 37;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1f1f1f;
  --ion-color-primary-tint: #353535;

  --ion-toolbar-background: #252525;
  --ion-toolbar-border-color: #252525;
  --ion-toolbar-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-background-color: #000;
    --ion-text-color: #fff;

    --ion-color-primary: #252525;
    --ion-color-primary-rgb: 37, 37, 37;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #1f1f1f;
    --ion-color-primary-tint: #353535;

    --ion-toolbar-background: #252525;
    --ion-toolbar-border-color: #252525;
    --ion-toolbar-color: #ffffff;
  }
}
